 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'My Profile', current_user, class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Log out', destroy_user_session_path, 
                               :method => :delete,
                               class: 'dropdown-item' %>
    </div>
</li>
