<header>
    <nav class="navbar navbar-dark bg-dark mb-2">
        <div class="container">
            <%= link_to 'ADINABOOK', root_url, class: 'navbar-brand' %>
            <ul class="navbar-nav flex-row ml-auto">
                <% unless user_signed_in? %>
                    <%= render 'layouts/login_form'%>
                <% else %>
                    <%= render 'layouts/account_links' %>
                <% end %>
            </ul>
             
        </div>
    </nav>
</header>